In [9]:
import os
import sys
import getpass

user = getpass.getuser()

DVUTILS_LOCAL_CLONE_PATH = f"/Users/{user}/Documents/GitHub/dvutils/dvutils"
sys.path.insert(0, DVUTILS_LOCAL_CLONE_PATH)
from census import *

In [10]:
 # get census api key
api_key = os.environ.get("CENSUS_API_KEY")

In [11]:
# test pulling acs 5 year data at the block group level
bg_df = pull_acs_data(
    census_api_key=api_key, acs_year=2022, table_id="B01001", geography_level="Block Group"
)

In [12]:
bg_df.head(5)

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,fipco,blkgp_geoid
0,1010,468,0,39,12,46,56,0,0,0,...,0,7,17,28,59,14,37,0,013,060133373004
1,2114,1098,82,108,34,48,87,19,40,28,...,34,46,0,0,16,0,11,0,085,060855125051
2,2378,840,23,70,88,16,0,0,19,0,...,0,190,104,33,169,87,69,76,097,060971506031
3,2682,1296,44,11,137,35,110,80,0,69,...,10,62,15,49,90,59,21,34,001,060014507461
4,757,451,45,17,0,49,27,0,0,0,...,22,10,12,0,28,17,10,0,013,060133332002

In [13]:
# test pulling acs 5 year data at the tract level
tract_df = pull_acs_data(
    census_api_key=api_key, acs_year=2022, table_id="B01001", geography_level="Tract"
)

In [14]:
tract_df.head(5)

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,fipco,tract_geoid
0,2744,1258,57,47,91,45,13,53,42,12,...,0,110,95,135,17,68,51,26,001,06001404800
1,4248,2332,244,129,80,23,21,0,9,49,...,70,131,84,0,131,14,30,19,001,06001440336
2,7425,3538,358,245,186,234,202,24,136,0,...,96,81,0,380,107,166,56,0,013,06013305000
3,5947,3038,56,89,164,77,71,26,8,49,...,133,107,158,176,86,136,222,137,081,06081601605
4,4724,2592,0,160,154,96,41,22,204,97,...,52,25,13,84,13,184,87,100,013,06013392202

# test pulling acs 5 year data at the block group level for specific variables
bg_df = pull_acs_5_year_est_data(
    census_api_key=api_key,
    acs_year=2022,
    select_table_vars=["B01001_001E", "B01001_002E"],
    geography_level="Block Group",
)

In [15]:
bg_df

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,fipco,blkgp_geoid
0,1010,468,0,39,12,46,56,0,0,0,...,0,7,17,28,59,14,37,0,013,060133373004
1,2114,1098,82,108,34,48,87,19,40,28,...,34,46,0,0,16,0,11,0,085,060855125051
2,2378,840,23,70,88,16,0,0,19,0,...,0,190,104,33,169,87,69,76,097,060971506031
3,2682,1296,44,11,137,35,110,80,0,69,...,10,62,15,49,90,59,21,34,001,060014507461
4,757,451,45,17,0,49,27,0,0,0,...,22,10,12,0,28,17,10,0,013,060133332002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5182,702,294,0,37,37,0,0,0,0,40,...,5,51,0,0,17,22,0,0,095,060952509002
5183,1098,525,11,71,31,1,22,8,11,20,...,16,36,13,12,9,13,29,16,055,060552010051
5184,1125,579,45,34,35,28,18,0,4,19,...,2,18,24,16,21,26,28,5,081,060816016011
5185,818,422,34,33,0,29,16,13,0,0,...,26,5,9,34,32,0,0,0,001,060014334005
5186,1189,512,33,78,25,13,7,0,40,27,...,0,17,0,6,14,38,10,39,095,060952524012

In [16]:
# test pulling acs 5 year data at the tract level for specific variables
tract_df = pull_acs_data(
    census_api_key=api_key,
    acs_year=2022,
    select_table_vars=["B01001_001E", "B01001_002E"],
    geography_level="Tract",
)

In [17]:
tract_df.head(5)

   B01001_001E  B01001_002E fipco  tract_geoid
0         3269         1621   001  06001400100
1         2147         1075   001  06001400200
2         5619         2801   001  06001400300
3         4278         1926   001  06001400400
4         3949         1870   001  06001400500